@import "tailwindcss";

/* Enable smooth scrolling for the entire document */
html {
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 5s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0.7);
  }
  60% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.01s ease-out;
}

.animate-scaleIn {
  animation: scaleIn 0.01s cubic-bezier(0.34, 1.56, 0.64, 1);
}
